:root {
  --textcolor: purple;
  --text-color-rest: #daf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  border-radius: 10px;
  width: 80vmax;
  margin: 0 auto;
  background: whitesmoke;
  height: auto;
}

h1, h2, h3 {
  font-family: cursive;
  color: var(--textcolor);
  margin: 10px 0px 20px 0px;
}

h2 {
  position: relative;
  top: 30px;
  margin-bottom: 60px;
}
.form {
  text-align: center;
}

.form-p {
  color: var(--textcolor);
}

form {
  font-size: 20px;
  font-family: cursive;
  margin: 5px;
}
input {
  width: 200px;
  height: 25px;
  text-align: left;
  color: black;
  font-family: cursive;
  border-radius: 10px;
  border: 1px solid var(--textcolor);
  margin: 0 15px;
}
.btn {
  position: relative;
  top: 15px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  background: var(--textcolor);
}
.msg {
  position: relative;
  bottom: 10px;
  text-align: right;
}
.msg-box {
  width: 20%;
  margin: 10px auto;
  text-align: center;
}
.msg p {
  color: var(--text-color-rest);
  font-size: 17px;
  font-family: cursive;
}
.copy {
  position: relative;
  bottom: 15px;
  font-family: cursive;
  font-size: 20px;
  color: var(--textcolor);
  font-weight: bold;
}
